
.stein_content {
    font-size: 3em;
}

.stein_container {
    width: 800px;
    height: 400px;
    padding: 20px;
    border: 2px solid red;

    /* eighter leave margin unset (= 0) or set position absolute in order to render the splitter layout properly */
    /*margin: 10px;
    position: absolute;
    left: 0;
    top: 0;*/
}

.panelLayout_Hover:hover {
    border: 3px solid red;
    /* background: lightyellow; */
}

.granit_Padding_Corner {
    overflow: hidden;
    border-width: 2px;
    border-radius: 20px;
    padding: 5px;
}

.splitter_HandleStyle {
    border-width: 2px;
    border-radius: 20px;
}

.splitter_Layout2 {
    background: #e91212;
}
